// Font sizes
$logo-font-size: 4rem;
$h1-font-size: 1.8rem;

@mixin contrast-font($color){
    color: $color;
    text-shadow: 1px 1px 10px invert($color), -1px -1px 10px invert($color);
}

@function scale-font($base-size, $factor){
    @return calc(#{$base-size} + #{$factor}*(#{$base-size}*0.5));
}
