// Media Query Ranges
$mobile-small-up: 376px !default;
$mobile-up: 769px !default;
$desktop-small-up: 1025px !default;
$desktop-up: 1441px !default;

$mobile-small: 375px !default;
$mobile: 768px !default;
$desktop-small: 1024px !default;
$desktop: 1440px !default;

$mobile-small-and-up: "only screen and (min-width: #{mobile-small-up})" !default;
$mobile-and-up: "only screen and (min-width: #{$mobile-up})" !default;
$desktop-small-and-up: "only screen and (min-width: #{$desktop-small-up})" !default;
$desktop-and-up: "only screen and (min-width: #{$desktop-up})" !default;

$settings-height: 12vh;
$background-select-height: 23vh;
