@import '_vars';
@import '_reset';
@import '_font-styles';

@font-face {
  font-family: main;
  src: url(./fonts/Philosopher-Bold.ttf);
}

@font-face {
  font-family: body;
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: body-bold;
  src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face{
  font-family: body-subheading;
  src: url(./fonts/Montserrat-SemiBold.ttf);
}

html{
    scroll-behavior: smooth;
}

header{
  @include contrast-font(white);
  font-family: main;
}